.addingexpance {
    padding: 10px;
}

.selectors {
    display: flex;
    justify-content: space-between;
}

.expancepart {
   
    padding: 20px;
    margin: 20px;
    border: 1px solid gray;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 80%;
    
}
.container {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
    
}

.buttonpart {
    display: flex;
   
    justify-content: end;
    gap: 5px;
    margin-right: 20%;
    padding: 5px;
    
    
   
}
